html,
body,
* {
  font-size: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: rgba(208, 238, 193, 0.592);
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.card{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    margin-bottom: 30px;
    width: 20%;
    height: 30vw;
    color: rgb(125, 125, 125);
    font-family: 'Fredoka';
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(165, 165, 165, 0.512) 10px 6px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 10px ;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.card p{
    font-style: italic;
    font-size:20px;
}

.container{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.header{
    text-align: center;
    color:rgb(125, 125, 125);
    background-color: rgb(255, 255, 255);
    line-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.search{
    text-align: center;
    margin: 30px;
    background-color: rgb(255, 255, 255);
    line-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 30px;
}

.search h2{
    font-family: "Fredoka";
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: rgb(125, 125, 125);
    font-style: italic;
}

.filterbutton{
    background-color: rgb(142, 161, 132);
    color: #fff;
    font-family: "Fredoka";
    box-shadow: rgba(165, 165, 165, 0.512) 3px -5px;
    border-radius: 10px;
    border-color:rgb(92, 103, 86);
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.header h1{
    font-family: "Caprasimo";
    font-size: 50px;
    letter-spacing: 4px;
    text-decoration: underline;
}

.header h2{
    font-family: 'Fredoka';
    font-size: 30px;
}

.checkout{
    text-align: center;
    padding: 10px;
    line-height: 200px;
    font-family: "Fredoka";
    letter-spacing: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    color: rgb(125, 125, 125);
}


.cartbutton{
    background-color: rgb(142, 161, 132);
    color: #fff;
    font-family: "Fredoka";
    box-shadow: rgba(165, 165, 165, 0.512) 3px 5px;
    border-radius: 10px;
    border: 2px rgb(92, 103, 86);
    margin-top: 30px;
    transition: all 0.3s;
}

button:hover{
    transform: scale(1.1);
    background-color:  rgb(127, 144, 118);
}

.checkoutbutton{
    background-color: rgb(142, 161, 132);
    color: #fff;
    font-family: "Fredoka";
    box-shadow: rgba(165, 165, 165, 0.512) 3px -5px;
    border-radius: 10px;
    border-color:rgb(92, 103, 86);
}


@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        height: 100%;
        margin-right: 30px;
    }
    .container {
        flex-direction: column;
    }
}


